<div>
    <ul class="nav nav-tabs pt-4 pl-3 pl-3 pr-4" style="background-color:#292b2c ">
        <img src="assets/pictures/revature.png" class="img-circle" alt="High Caliber Team" style="width:75px;height:30px;">
        <li role="presentation" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"><a routerLink='/'>  Home     </a></li>
        <li role="presentation" routerLinkActive="active "><a routerLink='/about'>|  About   |  </a></li>
        <li role="presentation" routerLinkActive="active "><a routerLink='/testng'>  TestNg   |  </a></li><br>
        <li role="presentation" routerLinkActive="active "><a routerLink='/cucumber'>  Cucumber   |  </a></li>
        <li role="presentation" routerLinkActive="active "><a routerLink='/protractor'>  Protractor   |  </a></li>
        <li role="presentation" routerLinkActive="active "><a routerLink='/jasmine'>  Jasmine  </a></li>
    </ul>
  </div>
  <div>
    <router-outlet>
    </router-outlet>
  </div>






