<!--<div class="container">-->
  <!--<nav class="navbar navbar-expand-md navbar-light bg-dark">-->
    <!--<div class="collapse navbar-collapse">-->
      <!--<a href="" class="navbar-brand text-light">PokeAPI Client</a>-->
      <!--<div class="navbar-nav">-->
        <!--<li class="nav-item"><a [routerLink]='["/"]' class="nav-link text-light">Get</a></li>-->
        <!--<li class="nav-item"><a [routerLink]='["/pokemon-list"]' class="nav-link text-light">Get All</a></li>-->
        <!--<li class="nav-item"><a href="" class="nav-link text-light">Create</a></li>-->
      <!--</div>-->
    <!--</div>-->
  <!--</nav>-->
<!--</div>-->

<div class="container">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="HighestCaliber/src/assets/pictures/Revature_CMYK.svg" width="120" height="30" class="d-inline-block align-top" alt="">
      Highest Caliber
    </a>
  </nav>
</div>



<div class="container">
  <router-outlet>
  </router-outlet>
</div>
