<div>
    <form (ngSubmit)='onSubmit()' style="height:150px" >
      <img class="float-left" src="assets/pictures/testng.png"
        alt="TestNg" style="max-height: 100%"> <br><br>
    </form>
  </div>
  
  <div class="container">
    <div class="cod-md-6 col-md-offset-3">
        <form action="testng.do" method="post"> 
            <div class="button-group">
                <input type="submit" class="btn btn-success" value="RUN TEST">
              
            </div>
        </form>
    </div>
  </div>