<?xml version="1.0" encoding="UTF-8"?>
<suite name="MercuryTours" parallel="false">
<parameter name="username" value="mercury"></parameter>
<parameter name="password" value="mercury"></parameter>
  <test name="Initial Test">
<!--   	<groups>
  		<run>
  			<include name="goodbye" />
  		</run>
  	</groups> -->
    <classes>
      <class name="com.revature.tests.MercuryTours"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
